:root {
  --main-red: #a71930;
  --main-black: #212121;
  --dark-grey: #263238;
  --main-grey: #a5acaf;
  --main-white: #fafafa;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
  font-family: "Roboto", sans-serif;
}
.endingHr {
  border: 1px solid #a71930;
}
#whole-nav {
  background-color: var(--main-black);
}
.jumbotron {
  background: linear-gradient(
    -60deg,
    var(--main-black) 50%,
    var(--main-red) 10%
  );
  border-radius: 0;
}
#inner-jumbo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#leftSide-jumbo {
  color: var(--main-white);
}
#leftSide-jumbo h1,
#leftSide-jumbo h3 {
  font-weight: 700;
  text-align: center;
}
#leftSide-jumbo h1 {
  font-size: 6rem;
}
#leftSide-jumbo h3 {
  font-size: 4rem;
}
#rightSide-jumbo img.img-fluid {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#food-categories h3,
.display-3,
#location-header {
  color: var(--main-red);
  font-weight: 700;
}

#contact-section {
  background-color: var(--main-black);
  color: var(--main-white);
}
#contact-section form {
  width: 50%;
  margin: 0 auto;
}
#contact-section form input {
  border-radius: 0;
}
